.registration-page {
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
    color: #fff;
    background: rgba(0, 0, 0, 0.326);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 0 10px rgba(99, 187, 145, 0.5), 
                0 0 20px rgba(90, 118, 199, 0.5);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.registration-title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: #ffffff;
    text-align: left;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #63BB91;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;
    font-size: 1em;
    color: #fff;
    background: linear-gradient(135deg, #63BB91 0%, #5A76C7 100%);
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
}

.submit-button:hover {
    background: linear-gradient(135deg, #5A76C7 0%, #63BB91 100%);
    transform: scale(1.05);
}
.submission-message {
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    background: rgba(99, 187, 144, 0);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
                0 0 10px rgba(99, 187, 145, 0.5), 
                0 0 20px rgba(90, 118, 199, 0.5);
}